back-up-copy-15646544-rJrUDvmaaGdqpVKv.json
{"createdAt":"2025-07-16T20:22:28.426Z","updatedAt":"2025-07-16T20:22:28.426Z","id":"rJrUDvmaaGdqpVKv","name":"Back up copy 15646544","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"cb6d60e4-20b1-41b6-9b91-b259ab52e61a","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2096,288]},{"parameters":{"options":{}},"id":"8592dd42-7690-41ef-9e6f-7a9bfe5a11e6","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1904,288]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"2f0a0799-a339-4a9c-a95d-a978cb62083a","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1696,288]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{"dotNotation":false}},"id":"a105dbda-77ec-4806-ae2e-7e45d4031fd9","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1504,288]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/Mich-SM/test_back-up","mode":"url"},"repository":{"__rl":true,"value":"test_back-up","mode":"list","cachedResultName":"test_back-up","cachedResultUrl":"https://github.com/Mich-SM/test_back-up"},"filePath":"=","path":"bc0616ab-96b5-4eac-b009-7a9ae0dc9f71"},"id":"81589ec3-17ce-4721-8261-406de078780b","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1296,288],"alwaysOutputData":true,"webhookId":"bc0616ab-96b5-4eac-b009-7a9ae0dc9f71","credentials":{"githubOAuth2Api":{"id":"G0Ni2eMo4QfeKrd7","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"84b1d2b9-b57f-4ecb-b5fb-22243d320555","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1104,288]},{"parameters":{"filters":{},"requestOptions":{}},"id":"6014b194-6355-4809-a1de-f1d9bbf3b761","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-896,288],"credentials":{"n8nApi":{"id":"FSYDSMegAbvWzG85","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"43d6f720-6a0d-4d76-94f6-c7d8a2861522","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-704,288]},{"parameters":{"batchSize":1,"options":{}},"id":"fc66e066-a793-492e-80b7-2f1976f0ff75","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-464,288]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"ec66c0ee-cd35-4362-a15d-a85b6561e548","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[-224,208]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/Mich-SM/test_back-up","mode":"url"},"repository":{"__rl":true,"value":"test_back-up","mode":"list","cachedResultName":"test_back-up","cachedResultUrl":"https://github.com/Mich-SM/test_back-up"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}","path":"9fc2cba0-4fca-481c-aa6a-45cb32b912f8"},"id":"16f233b2-e20a-4867-a856-5ecffa780997","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,0],"webhookId":"9fc2cba0-4fca-481c-aa6a-45cb32b912f8","credentials":{"githubOAuth2Api":{"id":"G0Ni2eMo4QfeKrd7","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/Mich-SM/test_back-up","mode":"url"},"repository":{"__rl":true,"value":"test_back-up","mode":"list","cachedResultName":"test_back-up","cachedResultUrl":"https://github.com/Mich-SM/test_back-up"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}","path":"a7dc7860-ba4d-4de3-92d7-9f5f08697f04"},"id":"dc7f1a81-751c-4fcf-869a-c099d1599f53","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,400],"webhookId":"a7dc7860-ba4d-4de3-92d7-9f5f08697f04","credentials":{"githubOAuth2Api":{"id":"G0Ni2eMo4QfeKrd7","name":"GitHub account"}}}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b93f4e2b-3de8-49e1-9747-9f76ed8c3b02","triggerCount":0,"tags":[]}