back-up-bnCUGoO8kcgfpNk3.json
{"createdAt":"2025-07-16T19:47:48.621Z","updatedAt":"2025-07-16T19:50:14.302Z","id":"bnCUGoO8kcgfpNk3","name":"Back up","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"181e829a-6d00-4b98-b406-d6849b77b6de","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2096,288]},{"parameters":{"options":{}},"id":"2bdecad0-6754-4169-aaa0-72465f30977d","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1904,288]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"d15a726b-d6a9-42f4-8c59-dd0620222e05","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1696,288]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"fe1a6ad8-8731-4bb4-a4cc-08e46d28cbe7","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1504,288]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/IgorZuevich/workflow_backup2","mode":"url"},"repository":{"__rl":true,"value":"workflow_backup2","mode":"list","cachedResultName":"workflow_backup2","cachedResultUrl":"https://github.com/IgorZuevich/workflow_backup2"},"filePath":"="},"id":"750faf92-a16e-4957-81c2-a287b44e919d","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1296,288],"alwaysOutputData":true,"webhookId":"9927018a-3847-4214-a888-307493a3b7c9"},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"4fc21648-e4c0-47b1-8c09-31b2873cc4fb","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1104,288]},{"parameters":{"filters":{},"requestOptions":{}},"id":"326b9cbe-fab4-45d2-a64d-1bc461db3f23","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-896,288]},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"2fc49316-cbf3-4465-acf9-4acddc8d4620","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-704,288]},{"parameters":{"batchSize":1,"options":{}},"id":"8f90eb77-9a64-496b-bf64-f296788d599e","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-464,288]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"c0418ff3-4c4e-48cb-8ecf-eb95d734e776","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[-224,208]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/IgorZuevich/workflow_backup2","mode":"url"},"repository":{"__rl":true,"value":"workflow_backup2","mode":"list","cachedResultName":"workflow_backup2","cachedResultUrl":"https://github.com/IgorZuevich/workflow_backup2"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"b31be7f3-5115-470c-b7d5-bcd905b5ae4b","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,0],"webhookId":"026d339a-d280-4e77-a43b-8e579b17f146"},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/IgorZuevich/workflow_backup2","mode":"url"},"repository":{"__rl":true,"value":"workflow_backup2","mode":"list","cachedResultName":"workflow_backup2","cachedResultUrl":"https://github.com/IgorZuevich/workflow_backup2"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"a2566409-4bf1-424f-85eb-9dd8d4df2b87","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,400],"webhookId":"67c0c60f-ee95-4812-9119-7e65523dd259"}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"fb38427b-f4b0-44a0-9cbe-3b24c9010a12","triggerCount":0,"tags":[]}